@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat_bold';
    src: url('../fonts/Montserrat/static/Montserrat-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}

.logo {
    /* margin-left: 100px; */
    margin-bottom: 10px;
}

.img_1 {
    animation: img_1 5s infinite;
}

@-moz-keyframes img_1 {
    100% {
        -moz-transform: rotateY(360deg);
    }
}

@-webkit-keyframes img_1 {
    100% {
        -webkit-transform: rotateY(360deg);
    }
}

@keyframes img_1 {
    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

/* video */

/* #nubexDiv {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    filter: brightness(75%);
}

#nubexVideo {
    top: 0;
    left: 0;
    width: auto;
    height: 500px;
    min-width: 100%;
} */


.video_content {
    background-image: url('../img/Rectangle154.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative;
    z-index: 1; */
}

/* header */

.link_logo {
    display: flex;
    text-decoration: none;
}

.menu_list {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
    align-items: center;

}

.menu_link {
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 96px;
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.video_content_text {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    line-height: 37px;
    color: #FFFFFF;
    font-weight: 500;
    text-transform: uppercase;
}

.city_bottom {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    padding-bottom: 170px;


}

#city-select {
    font-family: 'Montserrat';
    font-weight: 700;
    line-height: 30px;
    font-size: 12px;
    max-width: 270px;
    max-height: 80px;
    background-color: rgba(242, 215, 208, 1);
    padding: 25px;
    border-radius: 60px;
    border: none;
    color: #000000;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #541313;
}

@keyframes puls {
    0% {
        background-color: rgba(242, 215, 208, 1);
        ;
        box-shadow: 0 0 5px rgba(242, 215, 208, 1);
        ;
        ;
    }

    50% {
        background-color: rgb(201, 183, 179);
        ;
        box-shadow: 0 0 20px rgb(201, 183, 179);
    }

    100% {
        background-color: rgba(242, 215, 208, 1);
        box-shadow: 0 0 5px rgba(242, 215, 208, 1);
    }
}

#city-select,
.button_slider {
    animation: puls 1300ms infinite;

}

/* slider */

.container_slider {
    margin: 0 auto;
    max-width: 1700px;
    background-image: url('../img/fon_p.jpg');
    background-repeat: no-repeat;
    background-size: 90%;
    /* background-position: bottom 1px right 1px; */
}

.selected {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 96px;
    color: #541313;
}

.pictures_card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    max-height: 600px;

}


.pictures_text {
    max-width: 370px;
    text-align: center;
    margin: 0 auto;
    line-height: 30px;

}

.pictures_list {
    color: #602929;
    font-weight: 500;
    text-align: center;
    font-size: 32px;
    margin-bottom: 15px;

}

.card_pic {
    min-width: 500px;
    max-height: 252px;
}

.pictures_taitl {
    background-color: rgba(255, 255, 255, 0.8);
}

.button_slider {
    max-width: 270px;
    max-height: 80px;
    background-color: rgba(242, 215, 208, 1);
    padding: 30px;
    border-radius: 60px;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    margin-top: 175px;
}

.button_text {
    margin: 0 auto;
    text-decoration: none;
    color: black;
    font-size: 16px;
    line-height: 30px;
}

.false {
    padding-top: 300px;
}